*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Common Body Styles */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f4c75, #1b262c); /* Dark gradient for night mode */
    color: #e0e0e0; /* Light text for night mode */
    transition: background 0.5s ease, color 0.5s ease;
  }
  
  /* Navigation Styles */
  nav {
    position: fixed; /* Fixes the navbar at the top */
    top: 0; /* Aligns the navbar to the top */
    
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000; /* Ensures the navbar stays on top */
    margin-bottom: 30px; /* Add some space for content */
  }
  
  
  nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #f1c40f;
  }

  

  button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10%;
    will-change: transform;
  }
  
  button:disabled {
    pointer-events: none;
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-info h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}
